
//css原生支持的全局变量
// :root{
//   --el-color-primary: green;
// }

// div:has()

//  通用方法 类名 定义  全局 高优先级
.show{
  display: block !important;
}

.hide{
  display: block !important;
}



// 全局  通用布局

.flex-center-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}






//滚动条样式重写
textarea{

&::-webkit-scrollbar{
  width:8px;
  height:10px;
  /**/
}
&::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius:2px;
}
&::-webkit-scrollbar-thumb{
  background: #bfbfbf;
  border-radius:10px;
}
&::-webkit-scrollbar-thumb:hover{
  background: #333;
}
&::-webkit-scrollbar-corner{
  background: #179a16;
}
}